In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline

import scipy.linalg as la

from numpy.linalg import matrix_power

In [110]:
## Log of real value added

n = 4
a = .1


# ## Unconstrained power law distribution
# S = round(np.power(10, pd.DataFrame(np.random.uniform(2, 4, (n, n)))), -2)
# c = round(np.power(10, pd.DataFrame(np.random.uniform(2, 4, (n, 1)))), -2)

sij = 100
ci = 100

### Schematic edge weights
S = pd.DataFrame(np.full((n, n), sij))
c = pd.DataFrame(np.full(n, ci))

# Nw structures

# M is the adjacency matrix
Mi = np.eye(n)
Mo = np.roll(Mi, -n)
Mc = np.full((n, n), 1)
Ms = np.full((n, n), 0); Ms[0, 1:] = 1; Ms[:, 0] = 1

Si = pd.DataFrame(Mi*S.values)
So = pd.DataFrame(Mo*S.mean().mean())
Sc = pd.DataFrame(Mc*S.values)
Ss = pd.DataFrame(Ms*S.mean().mean())

In [111]:
r = 2

S = Sc
ratio = (S.sum().sum()/c.sum())[0]
S = S * r/ratio

Sc = S

In [112]:
stot = pd.DataFrame(S.sum(1)) + c
R = S.T.div(stot.values).T ####( don't know if it should be trasposed)
I = pd.DataFrame(np.eye(n))
L = la.inv(I - R)

display(S)
display(pd.DataFrame(L).round(3))

      0     1     2     3
0  50.0  50.0  50.0  50.0
1  50.0  50.0  50.0  50.0
2  50.0  50.0  50.0  50.0
3  50.0  50.0  50.0  50.0

     0    1    2    3
0  1.5  0.5  0.5  0.5
1  0.5  1.5  0.5  0.5
2  0.5  0.5  1.5  0.5
3  0.5  0.5  0.5  1.5

In [113]:

s2c = np.zeros(n); s2c[0] = .2;
s2c = np.diag(s2c)

display(L.dot(s2c))

display(s2c.dot(L.T))

display(L.dot(s2c).dot(L.T))

L.dot(s2c).dot(L.T).sum().sum()

array([[0.3, 0. , 0. , 0. ],
       [0.1, 0. , 0. , 0. ],
       [0.1, 0. , 0. , 0. ],
       [0.1, 0. , 0. , 0. ]])

array([[0.3, 0.1, 0.1, 0.1],
       [0. , 0. , 0. , 0. ],
       [0. , 0. , 0. , 0. ],
       [0. , 0. , 0. , 0. ]])

array([[0.45, 0.15, 0.15, 0.15],
       [0.15, 0.05, 0.05, 0.05],
       [0.15, 0.05, 0.05, 0.05],
       [0.15, 0.05, 0.05, 0.05]])

1.7999999999999992

In [114]:

s2c = np.zeros(n); s2c[1] = .2;
s2c = np.diag(s2c)

display(L.dot(s2c))

display(s2c.dot(L.T))

display(L.dot(s2c).dot(L.T))

L.dot(s2c).dot(L.T).sum().sum()

array([[0. , 0.1, 0. , 0. ],
       [0. , 0.3, 0. , 0. ],
       [0. , 0.1, 0. , 0. ],
       [0. , 0.1, 0. , 0. ]])

array([[0. , 0. , 0. , 0. ],
       [0.1, 0.3, 0.1, 0.1],
       [0. , 0. , 0. , 0. ],
       [0. , 0. , 0. , 0. ]])

array([[0.05, 0.15, 0.05, 0.05],
       [0.15, 0.45, 0.15, 0.15],
       [0.05, 0.15, 0.05, 0.05],
       [0.05, 0.15, 0.05, 0.05]])

1.7999999999999998

In [115]:

s2c = np.zeros(n); s2c[0] = .2; s2c[1] = .2;
s2c = np.diag(s2c)

display(L.dot(s2c))

display(s2c.dot(L.T))

display(L.dot(s2c).dot(L.T))

array([[0.3, 0.1, 0. , 0. ],
       [0.1, 0.3, 0. , 0. ],
       [0.1, 0.1, 0. , 0. ],
       [0.1, 0.1, 0. , 0. ]])

array([[0.3, 0.1, 0.1, 0.1],
       [0.1, 0.3, 0.1, 0.1],
       [0. , 0. , 0. , 0. ],
       [0. , 0. , 0. , 0. ]])

array([[0.5, 0.3, 0.2, 0.2],
       [0.3, 0.5, 0.2, 0.2],
       [0.2, 0.2, 0.1, 0.1],
       [0.2, 0.2, 0.1, 0.1]])

In [116]:
L.dot(s2c).dot(L.T).sum().sum()

3.5999999999999988

In [205]:
## sample size
m = 10000
c_fl = (np.random.normal(0, np.sqrt(.2), size = (n, m)).T*np.array([1, 0, 0, 0])).T
c_fl;

In [206]:
# create the base levels of c
c_ = np.array(m*[c.values.flatten()]).T

## add fluctuations
c_ = c_ + c_fl

pd.DataFrame(c_)

,0,1,2,3,4,5,6,7,8,9,...,9990,9991,9992,9993,9994,9995,9996,9997,9998,9999
0,100.032958,100.491492,99.567595,99.560599,100.861636,100.385172,100.184145,99.550867,100.316603,99.629055,...,99.704581,99.579977,99.456128,99.441258,99.668318,100.816779,100.473776,99.956579,100.128348,99.63801
1,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.00000
2,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.00000
3,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.00000

In [207]:
c_.var(1) # its variance must be near the value we designed

array([0.20391606, 0.        , 0.        , 0.        ])

In [208]:
L.dot(c_).var(1)

array([0.45881114, 0.05097902, 0.05097902, 0.05097902])

In [209]:
L.dot(c_).sum(0).var()

1.8352445428893733

In [213]:
s2c = np.zeros(n); s2c[0] = c_.var(1)[0]; 
s2c = np.diag(s2c)
s2c

array([[0.20391606, 0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        ]])

In [214]:
# La covarianza de las partes:
L.dot(s2c).dot(L.T)

array([[0.45881114, 0.15293705, 0.15293705, 0.15293705],
       [0.15293705, 0.05097902, 0.05097902, 0.05097902],
       [0.15293705, 0.05097902, 0.05097902, 0.05097902],
       [0.15293705, 0.05097902, 0.05097902, 0.05097902]])

In [215]:
L.dot(s2c).dot(L.T).sum().sum()

1.8352445428893756

In [121]:
stot

       0
0  300.0
1  300.0
2  300.0
3  300.0

In [102]:
b.shape

(4,)

In [ ]:



    print(['Isolated', 'Circular', 'Complete', 'Star'][i])
    
#     Scale Sales to have certain proportion of consumption.

    
    stot = pd.DataFrame(S.sum(1)) + c
    R = S.T.div(stot.values).T ####( don't know if it should be trasposed)
    I = pd.DataFrame(np.eye(n))
    L = la.inv(I - R)
    
    display(S)
    display(pd.DataFrame(L).round(3))
    
    _1pct = .01*np.mean(c)[0] # one percent of mean consumption level.
    
    basis = _1pct*np.eye(n)
    for vector in basis:
        dc = pd.DataFrame(vector)
        dstot = L.dot(c + dc) - L.dot(c) # = L.dot(dc)
        print(sum(dstot))
    
    
    print('***')